div {
    box-sizing: border-box;
}
body {
    margin: 0px;
}

.main-backround {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}
.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}
.sub-title {
    color: white;
    font-size: 20px;
    text-align: center;
    
}
.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.sub-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -40px;
    z-index: 5;
    
}
